## For Classification Problem

In [2]:
import pandas as pd
import numpy as np

In [3]:
np.random.seed(123)

nSample = 1000
class0Ratio = 0.9
nClass0= int(nSample * class0Ratio)
nClass1 = nSample - nClass0

In [9]:
class_0 = pd.DataFrame({
    "feature1": np.random.normal(loc=0, scale=1, size=nClass0),
    "feature2": np.random.normal(loc=0, scale=1, size=nClass0),
    "target": [0] * nClass0
})

class_1 = pd.DataFrame({
    "feature1": np.random.normal(loc=0, scale=1, size=nClass1),
    "feature2": np.random.normal(loc=0, scale=1, size=nClass1),
    "target": [1] * nClass1
})

In [13]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [14]:
df.tail()

     feature1  feature2  target
995  0.677156 -0.907952       1
996  0.963404 -1.818045       1
997 -0.378524 -0.122733       1
998  1.429559  1.794486       1
999  1.532273 -0.320510       1

In [15]:
## Upsampling
from sklearn.utils import resample

In [20]:
df_minority = df[df["target"]== 1]
df_majority = df[df["target"]== 0]

In [22]:
df_minority.tail()

     feature1  feature2  target
995  0.677156 -0.907952       1
996  0.963404 -1.818045       1
997 -0.378524 -0.122733       1
998  1.429559  1.794486       1
999  1.532273 -0.320510       1

In [29]:
df_minority_upsampled = resample(df_minority, replace=True, n_samples=len(df_majority), random_state=42)

In [30]:
df_minority_upsampled.shape

(900, 3)